<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ainda n sei</title>
  <link rel="stylesheet" href="./style/index.css">
</head>
<body>
  <header>
    <h1>Picture.com</h1>
    <nav>
      <button id='buttonPanelRec'>Gravar</button>
      <button id='buttonPanelPic'>Foto</button>
      <button id='buttonCancel' class="off">Cancelar</button>
    </nav>
  </header>

  <div class="container off">
    <p>Camera</p>
  </div>
  <footer>
    <a target="_black" href="http://github.com/NatanTavares">&copy Natan Tavares</a>
  </footer>
</body>
<script src="../controller/CameraController.js"></script>
<script src="./app.js"></script>
</html>